@use "./base" as *;
@use "./abstracts" as *;
@use "./layout" as *;
@use "./components" as *;

.realworldHeader {
  position: sticky;
  top: 0;
  width: 100%;
  height: fit-content;
  background: $nav-color;
}

.rwMenu_list_wrapper {
  @include ul_reset;
  @include flex_default;
}

.rwMenu_link {
  @include a_reset;
}