@use "./../abstracts" as *;

// 리얼월드 푸터 영역
.rwFooter_wrapper{
  background: $footer-color;
  color: $bg-color1;
  padding: 60px 0;
  .rwFooter{
    @include autoMargin;
    @include flexbox{
    column-gap: 50px;
    };
    height: 180px;
  }
  // 회사 소개
  .rwCompany{
    &_name{
      @include footerTitle;
      line-height: 2;
    }
    
    &_address{
      font-size: rem(13px);
      font-weight: 500;
    }
  }

  //콘택트
  .rwContact{
    width: 200px;

    &_title{
      @include footerTitle;
    }

    &_link_wrapper{
      @include flexbox($jc:space-between);
      margin-bottom: 10px;
    }

    &_Btn{
      @include btnBlock;
      @include bffooterbtnHover;
      font-weight: 600;
      color: $bg-color1;
      background: $primary-color;

        &:hover{
          @include footerbtnHover;
          background: $hover-color;
        }
      }
    }
  

  //비즈니스
  .rwBusiness{
    width: 200px;
    &_title{
      @include footerTitle;
    }

    &_Btn{
      @include btnBlock;
      @include bffooterbtnHover;
      color: $bg-color1;
      font-weight: 600;
      border: 1px solid $bg-color1;

        &:hover{
          @include footerbtnHover;
          color:black;
          background: $bg-color1;
        }
      }
    }
  }


// 콘텐츠 제작 문의하기
.rwInquiry{
  @include flexbox($jc:space-between);
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 20px, rgba(0, 0, 0, 0.15) 0px 10px 130px;
  background: #fff;
  color: $footer-color;
  width: 30%;
  padding: 15px;

  &_text{
    font-weight: bold;
  }

  &_big{
    font-size: 16px;
  }

  &_small{
    font-size: 13px;
    color: $section-light;
  }

  &_btn{
    background: $primary-color;
    color: $bg-color1;
    border: none;
    border-radius: 40px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
  }
}