@use "./../abstracts" as *;


.realworldMain{
  width: 100%;
  height: auto;

  .rwStore_wrapper{
    @include mainSection;
    background-image: url(https://realworld.to/static/main_landscape-9b659b1c8d1945c12c58de60299fab99.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -450px;
  }

  .rwStore{
    width: 100%;
    height: 100%;
    @include autoMargin;
    @include flexbox($fd:column, $jc:center);
  
    &_explan{
      font-size: rem(38px);
      font-weight: 500;
      margin-bottom: 40px;
    }
  }
}


.rwMobile_wrapper{
  @include mainSection;
  position:relative;
  
  &::before{
    content: "";
    @include opacityBg{
      background-image: url(https://realworld.to/static/3bb4fa0c102dd7b0fa91951d1477711b/024c9/logo_color_white_horizontal.webp);
      background-position: 1100px 0;
    };
  }

  .rwMoblie{
    height: 100%;
    @include autoMargin;
    @include flexbox{
      align-items: center;
    }
    
    &_img_wrapper{
      width: 55%;
      height: 100%;
      background-image: url(https://realworld.to/static/38555ce5763508c108bc0b3c09dc86e4/a2e23/mockup-mainpage.webp);
      background-repeat: no-repeat;
      background-size: 350px auto;
      background-position: 70% 100px;
    }


    &_explan_big{
      font-size: rem(32px);
      margin-bottom: 20px;
    }

    &_explan_small{
      color: $section-light;
    }

  }
}


.rwTheme_wrapper{
  width: 100%;
  height: auto;
  position: relative;
  background-color: $bg-color2;

  .rwTheme{
    padding-top: 100px;

    &_promotion{
      @include autoMargin;
      font-size: rem(32px);
      margin-bottom: 20px;
    }
    
    &_list_wrapper{
      @include flexbox;
      @include afterAnimation;
    }

    &_btn{
      text-align: center;
      padding: 100px 0;

      &_link{
        @include bfbtnHover;
        border-radius: 40px;
        border: 1px solid $primary-color;
        padding: 15px 40px;

        &:hover{
          @include btnHover;
        }

        &_Btn{
          background: transparent;
          max-width: 100%;
          border: 0;
          color: inherit;
          cursor: pointer;
          font-weight: 600;
        }
      }

    }

    .rwTheme_list{
      min-width: 420px;
      height: auto;
      margin-right: 20px;
      overflow: hidden;
      @include flexbox($fd: column);
      gap: 10px;

      &_title{
        font-size: rem(24px);
        font-weight: 600;

        .rwTheme_list_link:hover{
          color: $hover-color;
        }
      }

      &_img_wrapper{
        width: 100%;
        order: -1;

        .rwTheme_list_img{
          border-radius: 10px;
        }
      }

      &_summary{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $section-light;
      }

      &_locationstar{
        @include flexbox($jc: space-between);
        order: -1;

        .rwTheme_list_location{
          color: $section-light;
        }
      }
    }
  }
}