// default.scss
body {
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  font-style: 13px;
  font-weight: 400;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 100%;
}