@use "./themes" as *;

@keyframes moveTheme{
  15%{
    transition: transform,1s;
    transform: translateX(-25%);
  }
  
  30%{
  transform: translateX(-55%);
  }

  42%{
    transform: translateX(-80%);
  }

  58%{
    transform: translateX(-85%);
  }
  69%{
    transform: translateX(-80%);
  }
  
  78%{
    transform: translateX(-55%);
  }

  85%{
    transform: translateX(-25%);
  }
  100%{
    transform: translateX(0%);
  }
}

@mixin flexbox( $fd:row, $fw: nowrap, $jc:flex-start, $ac:flex-start){
  display: flex;
  flex-flow : $fd $fw;
  justify-content: $jc;
  align-content: $ac;
  @content;
}

@mixin autoMargin{
  max-width: 1100px;
  margin: 0 auto;
}

@mixin mainSection{
  width: 100%;
  height: 730px;
}

@mixin afterAnimation{
  animation-name: moveTheme;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out 0s;
  animation-delay: 1.5s;
}

@mixin opacityBg{
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  @content;
}

@mixin btnHover{
  transition: background-color, color;
  transition-duration: 0.3s, 0.2s;
  background-color: $primary-color;
  color: $bg-color1;
}

@mixin bfbtnHover{
  transition: background-color, color;
  transition-duration: 0.5s, 0.8s;
  background-color: rgba(255,255,255,0.5);
  color: $footer-color;
}

@mixin footerTitle{
  font-size: rem(30px);
  font-weight: bold;
  margin-bottom: 5px;
}

@mixin btnBlock{
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

@mixin footerbtnHover{
  transition: background-color, color;
  transition-duration: 0.8s, 0.5s;
}

@mixin bffooterbtnHover{
  transition: background-color, color;
  transition-duration: 0.5s, 0.8s;
}