$primary-color : rgb(200, 105, 255);
$hover-color: rgb(170, 89, 217);
$nav-bgcolor: rgba(0, 0, 0, 0.4);
$nav-color:  rgba(255, 255, 255, 0.5);
$nav-hover-bgcolor: rgba(0, 0, 0, 0.7);
$nav-hover-color: rgb(255,255,255);
$footer-color : rgb(10, 17, 30);
$bg-color1 : rgb(255, 255, 255);
$bg-color2 : rgb(250, 250, 250);
$section-light: rgb(98,98,98);